<app-header></app-header>
<div class="content container">
  
    <div style="height: 5px;"></div>
    <div class="catTitle mt-4 mt-md-5">
        <div class="catSpace"></div>
        <div class="d-block" style="white-space: nowrap; margin-left: 10px; margin-right: 10px;">Doação</div>
        <div class="catSpace"></div>
    </div>

    <h5 class="mt-5">Gostaria de ajudar a nossa ONG? Você pode doar para a gente pelas chaves PIX a baixo:</h5>

    <br>

    <h5>Celular: (14) 99195-6161</h5>
    <h5>CPF: (14) 99195-6161</h5>

    <br>

    <h5>Com sua doação, você estará ajudando a gente comprar ração para nossos animais, pagar aluguel do abrigo, e gastos com veterinários.</h5>

</div>
<app-footer></app-footer>