<app-header></app-header>
<div class="content container">

    <div style="height: 5px;"></div>
    <div class="catTitle mt-4 mt-md-5">
        <div class="catSpace"></div>
        <div class="d-block" style="white-space: nowrap; margin-left: 10px; margin-right: 10px;">Sobre nós</div>
        <div class="catSpace"></div>
    </div>

    <h5 class="mt-5">A prana Pet é uma ONG de Bauru, interior de São Paulo, que procura salva e ajudar animais abandonados pela sociedade que precisam de ajuda e suporte.</h5>

    <h5>Nossa missão começou há mais de 10 anos, fruto do nosso amor pelos animais, e como forma de ajudar esses animais em condição de abandono.</h5>

    <h5>Tivemos grande apoio no início para abrir uma ONG, mas com o passar do tempo os gastos aumentaram e poucos continuaram dispostos a ajudar. Hoje utilizamos cerca de duas toneladas de ração por mês, alem dos gastos veterinários e de castração, custeados por nós e pelas doação que recebemos.</h5>
  
    <br><br><br>

    <div class="d-block catTitle" style="text-align: left !important; font-size: 22px;">Alguns dos nossos animais resgatados:</div>
    <br>
    <div>
        <div class="row">
            <div class="col-md-4" style="display: flex; justify-content: center;">
                <div style="width: 18rem;">
                    <img src="https://i.imgur.com/BkOSgf5.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-md-4" style="display: flex; justify-content: center;">
                <div style="width: 18rem;">
                    <img src="https://i.imgur.com/5dA4NVv.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-md-4 mt-1" style="display: flex; justify-content: center;">
                <div style="width: 18rem;">
                    <img src="https://i.imgur.com/Rdwjerd.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-md-4 mt-1" style="display: flex; justify-content: center;">
                <div style="width: 18rem;">
                    <img src="https://i.imgur.com/7rr2ol2.jpg" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>

    <br><br>
</div>
<app-footer></app-footer>