<app-header></app-header>
<div class="content">

    <div style="background-color: #39B54A; width: 100%; min-height: calc(100vh - 90px);">

        <div class="container" style="padding-top: 100px;">
            <h1 class="text-center mt-5 textTop" style="color: #fff; font-weight: 600; font-size: 78px; font-family: Poppins;">PRANA PET</h1>

            <div class="container">
                
                <div class="d-flex justify-content-center row" style="margin-top: 100px;">

                    <h2 class="text-center" style="color: #fff;">Com a sua doação, você nos ajuda a mudar a realidade de centenas de animais.</h2>

                    <br>

                    <div style="width: 100%; display: flex; justify-content: center; margin-top: 50px;">
                        <div class="btnDoar" [routerLink]="['/doacao']">DOAR AGORA</div>
                    </div>
    
                </div>

            </div>
        </div>

    </div>

    <div class="part2" style="height: 600px; width: 100%;">
        <br>
        <div class="container">
            <h2 style="color: rgb(255, 255, 255); margin-top: 50px;">Somos um abrigo que ajuda a <br> salvar a vida de centenas <br> de animais</h2>
            <br>
            <div class="btnDoar" style="width: 147px;" [routerLink]="['/sobre']">SAIBA MAIS</div>
        </div>
    </div>
  
</div>
<app-footer></app-footer>